.date-sub{
    text-align: right;
}
.thumb-sub {
    max-width: 75px;
    height: auto;
}
.overdue-title {
	color: #670060;
}

.label-task-status{
    padding: 0.2em 0.6em 0.2em;
    border: 1px solid #999999;
    border-radius: 3px;
    color: #999999;
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
}
.label-task-status-primary{
    border-color: #3472F7;
    color: #3472F7;
}
.label-task-status-info{
    border-color: #2CA8FF;
    color: #2CA8FF;
}
.label-task-status-success{
    border-color: #05AE0E;
    color: #05AE0E;
}
.label-task-status-warning{
    border-color: #FF9500;
    color: #FF9500;
}
.label-task-status-danger{
    border-color: #FF3B30;
    color: #FF3B30;
}
.label.label-fill{
    color: #FFFFFF;
}
.label-primary.label-fill, .progress-bar, .progress-bar-primary{
   background-color: #3472F7;
}
.label-info.label-fill, .progress-bar-info{
    background-color: #2CA8FF;
}
.label-success.label-fill, .progress-bar-success{
   background-color: #05AE0E;
}
.label-warning.label-fill, .progress-bar-warning{
   background-color: #FF9500;
}
.label-danger.label-fill, .progress-bar-danger{
   background-color: #FF3B30;
}
.label-default.label-fill{
   background-color: #999999;
}
.progress {
    background-color: #E5E5E5;
    border-radius: 3px;
    box-shadow: none;
    height: 4px;
}
.progress-thin{
    height: 2px;
}
.not-started {
    color: red;

}

.in-progress {
    color: orange;

}

.completed {
    color: green;
}

.collaborator {
    width: 20px;
    height: auto;
}

.seq_thumb {
	width: 250px;
	height: auto;
}

.shot_thumb {
	width: 50px;
	height: auto;
}

.image-info {
    background: #fff;
    padding: 15px;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px
}


blockquote {
	font-size: 12.5px;
	background-color: rgb(247, 247, 247);
}

.shot {
    padding-top: 15px;
}
.NOT-STARTED {
    background-color: red;
}
.IN-PROGRESS {
    background-color: #348fe2;
}
.COMPLETED {
    background-color: green;
}
.CREATIVE-APPROVED {
	background-color: #B481C7;
}
.ON-HOLD {
	background-color: #5E5E5E;
}
.FINAL {
	background-color: green;
}
.FINAL-PENDING-TECH-CHECK {
	background-color: #87B27D;
}
.btn.btn-default {
    color: #fff;
    background: rgba(182, 194, 201, 0.21);
    border-color: #b6c2c9;
    margin-top: 10px;
    margin-left: 5px;
}
.modal-backdrop {
    z-index: 1000;
}

.animated-switch > input[type="checkbox"] {
  display: none; }

.animated-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 40px; }

.animated-switch > label::before {
  background: black;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -8px;
  position: absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px; }

.animated-switch > label::after {
  background: white;
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px; }

.animated-switch > input[type="checkbox"]:checked + label::before {
  background: inherit;
  opacity: 0.5; }

.animated-switch > input[type="checkbox"]:checked + label::after {
  background: inherit;
  left: 20px; }

.card-block{
    padding: 0.7em;
    margin:0;
    background-color: #FFF;
    height:auto;
  }
.card-reference{
    padding: 0.7em;
    background-color: #FFF;
    height:auto;
    }
.card-block-ref{
    padding: 0.7em;
    background-color: #FFF;
      }
.references{
  display: block;
}
.card-asset-img{
  width: auto;
  height: auto;
  display: block;
  padding: .7em;
  background-color: #FFF;
}
.preview-assets{
  background-color: #FFF;
  border: none;
  display: block;
}
.post-content {
    background: none repeat scroll 0 0 #FFFFFF;
    opacity: 0.5;
    top:0;
    left:0;
    position: absolute;
}
