{% extends 'admin-base.html' %}

{% block title %}Polyphemus | Admin{% endblock %}

{% block content %}
        <!-- begin #content -->
        <div id="content" class="content-admin-page" style="padding: 60px;">
            <!-- begin page-header -->
            <h1 class="page-header">Admin Space <small>some magics are made here too...</small></h1>
            <!-- end page-header -->

            <!-- begin row -->
            <div class="row">
                <!-- begin col-12 -->
                <div class="col-md-12">
                    <!-- begin panel -->
                    <div class="panel-body2" >

			    <!-- begin col-6 -->
			    <div>
					<ul class="nav nav-pills">
						<li class="active"><a href="#nav-pills-tab-1" data-toggle="tab">Shows</a></li>
						<li><a href="#nav-pills-tab-2" data-toggle="tab">Sequences</a></li>
						<li><a href="#nav-pills-tab-3" data-toggle="tab">Shots</a></li>
						<li><a href="#nav-pills-tab-4" data-toggle="tab">Assets</a></li>
						<li><a href="#nav-pills-tab-5" data-toggle="tab">Users</a></li>
						<li><a href="#nav-pills-tab-6" data-toggle="tab">Submissions</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade active in" id="nav-pills-tab-1">
						    <h3 class="m-t-10">Shows</h3>
                            <table id="" class="table display table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Long name</th>
                                        <th>Show active</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX">
                                        <td><a href="#">RBY</a></td>
                                        <td>RUBBISHBOY</td>
                                        <td>True</td>
                                    </tr>
                                    <tr class="even gradeC">
                                        <td><a href="#">NYC</a></td>
                                        <td>NEW_YORK_CITY</td>
                                        <td>False</td>
                                    </tr>

                                </tbody>
                            </table>
						</div>
						<div class="tab-pane fade" id="nav-pills-tab-2">
						    <h3 class="m-t-10">Sequences</h3>
                            <table id="" class="table display table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Show</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX">
                                        <td><a href="#">MANOR</a></td>
                                        <td><a href="#">RBY</a></td>
                                    </tr>
                                    <tr class="even gradeC">
                                        <td><a href="#">HRM</a></td>
                                        <td><a href="#">RBY</a></td>
                                    </tr>

                                </tbody>
                            </table>
						</div>
						<div class="tab-pane fade" id="nav-pills-tab-3">
						    <h3 class="m-t-10">Shots</h3>
                            <table id="" class="table display table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Sequence</th>
                                        <th>Show</th>
                                        <th>Frame Range</th>
                                        <th>Tasks</th>
                                        <th>Assets</th>
                                        <th>Target date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="#">MANOR_010</a></td>
                                        <td><a href="#">MANOR</a></td>
                                        <td><a href="#">RBY</a></td>
                                        <td>1001 - 1022</td>
                                        <td><span class="label INSERT-TASK-STATUS" data-toggle="tooltip" data-placement="top" title="" data-original-title="">INSER TASK</span>&nbsp;</td>
										<td><a href="#">RUBBISHBOY</a> <a href="#">MANOR LIVING ROOM</a></td>
										<td> 11-22-2017</td>
										<th><span class="label label-primary">WORK IN PROGRESS</span></th>
                                    </tr>
                                    <tr>
                                        <td><a href="#">MANOR_020</a></td>
                                        <td><a href="#">MANOR</a></td>
                                        <td><a href="#">RBY</a></td>
                                        <td>1001 - 1032</td>
                                        <td><span class="label INSERT-TASK-STATUS" data-toggle="tooltip" data-placement="top" title="" data-original-title="">INSER TASK</span>&nbsp;</td>
										<td><a href="#">RUBBISHBOY</a> <a href="#">MANOR LIVING ROOM</a></td>
										<td> 13-22-2017</td>
										<th><span class="label label-warning">NOT STARTED</span></th>
                                    </tr>


                                </tbody>
                            </table>
						</div>
						<div class="tab-pane fade" id="nav-pills-tab-4">
						    <h3 class="m-t-10">Assets</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
								Integer ac dui eu felis hendrerit lobortis. Phasellus elementum, nibh eget adipiscing porttitor, 
								est diam sagittis orci, a ornare nisi quam elementum tortor. 
								Proin interdum ante porta est convallis dapibus dictum in nibh. 
								Aenean quis massa congue metus mollis fermentum eget et tellus. 
								Aenean tincidunt, mauris ut dignissim lacinia, nisi urna consectetur sapien, 
								nec eleifend orci eros id lectus.
							</p>
						</div>
						<div class="tab-pane fade" id="nav-pills-tab-5">
						    <h3 class="m-t-10">Users</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
								Integer ac dui eu felis hendrerit lobortis. Phasellus elementum, nibh eget adipiscing porttitor, 
								est diam sagittis orci, a ornare nisi quam elementum tortor. 
								Proin interdum ante porta est convallis dapibus dictum in nibh. 
								Aenean quis massa congue metus mollis fermentum eget et tellus. 
								Aenean tincidunt, mauris ut dignissim lacinia, nisi urna consectetur sapien, 
								nec eleifend orci eros id lectus.
							</p>
						</div>
						<div class="tab-pane fade" id="nav-pills-tab-6">
						    <h3 class="m-t-10">Submissions</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
								Integer ac dui eu felis hendrerit lobortis. Phasellus elementum, nibh eget adipiscing porttitor, 
								est diam sagittis orci, a ornare nisi quam elementum tortor. 
								Proin interdum ante porta est convallis dapibus dictum in nibh. 
								Aenean quis massa congue metus mollis fermentum eget et tellus. 
								Aenean tincidunt, mauris ut dignissim lacinia, nisi urna consectetur sapien, 
								nec eleifend orci eros id lectus.
							</p>
						</div>
					</div>
				</div>
			    <!-- end col-6 -->
                        
                        </div>
                    <!-- end panel -->
                </div>
                <!-- end col-12 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end #content -->


        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->
{% endblock %}
