{% extends 'admin-base.html' %}
{% block title %}Polyphemus | Admin{% endblock %}
{% block content %}
        <!-- begin #content -->
        <div id="content" class="content-admin-page" style="padding: 60px;">
            <!-- begin page-header -->
            <h1 class="page-header">Admin Space <small>some magics are made here too...</small></h1>
            <!-- end page-header -->

            <!-- begin row -->
            <div class="row">
                <!-- begin col-12 -->
                <div class="col-md-12">
                    <!-- begin panel -->
                    <div class="panel-body2" >

			    <!-- begin col-6 -->
			    <div>
					<ul class="nav nav-pills">
						<li class="active"><a href="#nav-pills-tab-1" data-toggle="tab">Shows</a></li>
						<li><a href="#nav-pills-tab-2" data-toggle="tab">Sequences</a></li>
						<li><a href="#nav-pills-tab-3" data-toggle="tab">Shots</a></li>
						<li><a href="#nav-pills-tab-4" data-toggle="tab">Assets</a></li>
						<li><a href="#nav-pills-tab-5" data-toggle="tab">Users</a></li>
						<li><a href="#nav-pills-tab-6" data-toggle="tab">Submissions</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade active in" id="nav-pills-tab-1">
						    <h3 class="m-t-10">Shows</h3>
                            <table id="" class="table display table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Long name</th>
                                        <th>Show active</th>
                                    </tr>
                                </thead>
                                <tbody>
									{% for show in shows %}
                                    <tr>
                                        <td><a href="{{url_for('show', show=show.name)}}">{{show.name}}</a></td>
                                        <td>{{show.long_name}}</td>
                                        {% if show.active %}
                                        <td><span class="label label-success">Active</span></td>
                                        {% else %}
                                        <td><span class="label label-default">Non Active</span></td>
                                        {% endif %}
                                    </tr>
								{% endfor %}
                                </tbody>
                            </table>
						</div>
						<div class="tab-pane fade" id="nav-pills-tab-2">
						    <h3 class="m-t-10">Sequences</h3>
                            <table id="" class="table display table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Show</th>
                                    </tr>
                                </thead>
                                <tbody>
									{% for seq in seqs %}
                                    <tr class="odd gradeX">
                                        <td><a href="{{url_for('seq', show=seq.show, seq=seq.name)}}">{{seq.name}}</a></td>
                                        <td><a href="{{url_for('show', show=seq.show)}}">{{seq.show}}</a></td>
                                    </tr>
									{% endfor %}
                                </tbody>
                            </table>
						</div>
						<div class="tab-pane fade" id="nav-pills-tab-3">
						    <h3 class="m-t-10">Shots</h3>
                            <table id="" class="table display table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Sequence</th>
                                        <th>Show</th>
                                        <th>Frame Range</th>
                                        <th>tasks</th>
                                        <th>Assets</th>
                                        <th>Target date</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
									{% for shot in shots %}
                                    {% set shot_target_date = utils.convert_isotime_to_datetime(shot.target_date) %}
                                    {% set pretty_target_date = shot_target_date.strftime(format) %}
                                    <tr>
                                        <td><a href="{{url_for('shot', show=shot.show, seq=shot.seq, shot_name=shot.name)}}">{{shot.name}}</a></td>
                                        <td><a href="{{url_for('seq', show=shot.show, seq=shot.seq)}}">{{shot.seq}}</a></td>
                                        <td><a href="{{url_for('show', show=shot.show)}}">{{shot.show}}</a></td>
                                        <td>{{shot.frame_in}} - {{shot.frame_out}}</td>
										<td>
										{% for task in shot.tasks %}
										<span class="label {{task.status}}" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{task.status}}">{{task.task}}</span>&nbsp;
										{% endfor %}
										</td>
										<td>
										{% for asset in shot.assets %}
										 <span class="label label-default">{{asset.name}}</span>&nbsp;
										{% endfor %}
										</td>
										<td><div class="date-sub"><a href=""><small><time class="pubdate" datetime="{{shot.target_date}}" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{pretty_target_date}}"></time></small></a></div></td>
										<td><span class="label {{shot.status}}">{{shot.status}}</span></td>

										<td><div style="text-align: right;"><a href="#modal-shot-modify" class="btn btn-warning btn-xs m-r-5 modify-shot" data-id="{{shot.name}}" data-toggle="modal">Modify</a> <a href="#modal-alert" class="btn btn-danger btn-xs m-r-5 delete-shot" data-toggle="modal" data-id="{{shot.name}}">Delete</a></div></td>
                                    </tr>
									{% endfor %}
                                </tbody>
                            </table>
						</div>
						<div class="tab-pane fade" id="nav-pills-tab-4">
						    <h3 class="m-t-10">Assets</h3>
                            <table id="" class="table display table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Show</th>
                                        <th>Collaborators</th>
                                        <th>Target date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for asset in assets %}
                                {% set asset_target_date = utils.convert_isotime_to_datetime(asset.target_date) %}
                                {% set pretty_target_date = asset_target_date.strftime(format) %}
                                    <tr class="odd gradeX">
                                        <td><a href="#">{{asset.name}}</a></td>
                                        <td><a href="{{url_for('show', show=asset.show)}}">{{asset.show}}</a></td>
                                        <td>{% for task in asset.tasks %}<a href="{{url_for('user', user_name=task.assignee)}}">{{task.assignee}}</a>{% endfor %}</td>
                                        <td><div class="date-sub"><a href=""><small><time class="pubdate" datetime="{{asset.target_date}}" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{pretty_target_date}}"></time></small></a></div></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
						</div>
						<div class="tab-pane fade" id="nav-pills-tab-5">
						    <h3 class="m-t-10">Users</h3>
                            <table id="" class="table display table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>email</th>
                                        <th>role</th>
                                        <th>shows</th>
                                        <th>shots or assets</th>
                                        <th>task</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <tr class="odd gradeX">
                                        <td><a href="#">{{user.name}}</a></td>
                                        <td><a href="#">{{user.email}}</a></td>
                                        <td>{{user.role}}</a></td>
                                        <td>{% for show in user.shows %}<a href="{{url_for('show', show=show)}}">{{show}}</a>&nbsp;|&nbsp;{% endfor %}</td>
                                        <td>{% for shot in shots %}
                                        {% for task in shot.tasks %}
                                        {% if task.assignee == user.name %}
                                        <a href="{{url_for('shot', show=shot.show, seq=shot.seq, shot_name=shot.name)}}">{{shot.name}}</a>&nbsp;|&nbsp;
                                        {% endif %}
                                        {% endfor %}
                                        {% endfor %}
                                        </td>
                                        <td><a href="#">{{user.task}}</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
						</div>
						<div class="tab-pane fade" id="nav-pills-tab-6">
						    <h3 class="m-t-10">Submissions</h3>
                            <table id="" class="table display table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Shot or Asset</th>
                                        <th>task</th>
                                        <th>show</th>
                                        <th>type</th>
                                        <th>ptuid</th>
                                        <th>date</th>
                                        <th>status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for sub in subs %}
								{% set sub_target_date = utils.convert_isotime_to_datetime(sub.Date) %}
                                {% set pretty_target_date = sub_target_date.strftime(format) %}
                                    <tr class="odd gradeX">
                                        <td><a href="{{url_for('user', user_name=sub.Username)}}">{{sub.Username}}</a></td>
                                        <td><a href="{{url_for('shot', show=sub.Show, seq=sub.seq, shot_name=sub.Shot)}}">{{sub.Shot}}</a></td>
                                        <td>{{sub.Task}}</td>
                                        <td><a href="{{url_for('show', show=sub.Show)}}">{{sub.Show}}</a></td>
                                        <td>{{sub.type}}</td>
                                        <td><a href="{{url_for('shot', show=sub.Show, seq=sub.seq, shot_name=sub.Shot, _anchor=sub.ptuid)}}">{{sub.ptuid}}</a></td>
										<td><div class="date-sub"><a href=""><small><time class="pubdate" datetime="{{sub.Date}}" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{pretty_target_date}}"></time></small></a></div></td>
                                        <td><span class="label {{sub.status}}">{{sub.status}}</span></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>


						</div>
					</div>
				</div>
			    <!-- end col-6 -->

                        </div>
                    <!-- end panel -->
                </div>
                <!-- end col-12 -->
            </div>
            <!-- end row -->

                            <div class="modal fade" id="modal-alert" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title">Alert Deleting Action! </h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="alert alert-danger m-b-0">
                                                <h4><i class="fa fa-info-circle"></i> You are about to delete <span id="cyc-entity"></span></h4>
                                                <p>Are you sure you want to do it?</p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
											<iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>
											<form action="{{ url_for('delete_shot') }}" method="POST" target="hiddenFrame">
												<input type="hidden" name="shotName" id="shotNameDelete" value=""/>
                                            <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
                                            	<input class="btn btn-sm btn-danger" id="deleteModalBtn" name="deleteShot" type="submit" value="Delete"/>
											</form>
                                        </div>
                                    </div>
                                </div>
                            </div>



                <div class="modal fade" id="modal-shot-modify" style="display: none;">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                            <h4 class="modal-title" id="modify-cyc-entity"></h4>
                                                        </div>
                                                        <div class="modal-body">

                                                            <form class="form-horizontal">
																<div class="form-group">
																	<label class="col-md-3 control-label">Status</label>
																	<div class="col-md-9">
																		<select class="form-control">
																			{% for statuses in utilz %}
																			{% for status in statuses.valid_statuses %}
																			<option>{{status}}</option>
																			{% endfor %}
																			{% endfor %}
																		</select>
																	</div>
																</div>
																<div class="form-group">
																	<label class="col-md-3 control-label">Add Asset task</label>
																	<div class="col-md-9">
																		<select class="form-control">
																			{% for statuses in utilz %}
																			{% for asset_task in statuses.asset_tasks %}
																			<option>{{asset_task}}</option>
																			{% endfor %}
																			{% endfor %}
																		</select>
																	</div>
																</div>
																
																<div class="form-group">
																	<label class="col-md-3 control-label">Add Shot task</label>
																	<div class="col-md-9">
																		<select class="form-control">
																			{% for statuses in utilz %}
																			{% for shot_task in statuses.shot_tasks %}
																			<option>{{shot_task}}</option>
																			{% endfor %}
																			{% endfor %}
																		</select>
																	</div>
																</div>
																
																<div class="form-group">
																	<label class="col-md-3 control-label">Textarea</label>
																	<div class="col-md-9">
																		<textarea class="form-control" placeholder="Textarea" rows="5"></textarea>
																	</div>
																</div>
																<div class="form-group">
																	<label class="col-md-3 control-label">Checkbox</label>
																	<div class="col-md-9">
																		<div class="checkbox">
																			<label>
																				<input type="checkbox" value="">
																				Checkbox Label 1
																			</label>
																		</div>
																		<div class="checkbox">
																			<label>
																				<input type="checkbox" value="">
																				Checkbox Label 2
																			</label>
																		</div>
																	</div>
																</div>
																<div class="form-group">
																	<label class="col-md-3 control-label">Inline Checkbox</label>
																	<div class="col-md-9">
																		<label class="checkbox-inline">
																			<input type="checkbox" value="">
																			Checkbox Label 1
																		</label>
																		<label class="checkbox-inline">
																			<input type="checkbox" value="">
																			Checkbox Label 2
																		</label>
																	</div>
																</div>
																<div class="form-group">
																	<label class="col-md-3 control-label">Radio Button</label>
																	<div class="col-md-9">
																		<div class="radio">
																			<label>
																				<input type="radio" name="optionsRadios" value="option1" checked="">
																				Radio option 1
																			</label>
																		</div>
																		<div class="radio">
																			<label>
																				<input type="radio" name="optionsRadios" value="option2">
																				Radio option 2
																			</label>
																		</div>
																	</div>
																</div>
																<div class="form-group">
																	<label class="col-md-3 control-label">Inline Radio Button</label>
																	<div class="col-md-9">
																		<label class="radio-inline">
																			<input type="radio" name="optionsRadios" value="option1" checked="">
																			Radio option 1
																		</label>
																		<label class="radio-inline">
																			<input type="radio" name="optionsRadios" value="option2">
																			Radio option 2
																		</label>
																	</div>
																</div>
																<div class="form-group has-success has-feedback">
																	<label class="col-md-3 control-label">Input with Success</label>
																	<div class="col-md-9">
																		<input type="text" class="form-control">
																		<span class="fa fa-check form-control-feedback"></span>
																	</div>
																</div>
																<div class="form-group has-warning has-feedback">
																	<label class="col-md-3 control-label">Input with Warning</label>
																	<div class="col-md-9">
																		<input type="text" class="form-control">
																		<span class="fa fa-warning form-control-feedback"></span>
																	</div>
																</div>
																<div class="form-group has-error has-feedback">
																	<label class="col-md-3 control-label">Input with Error</label>
																	<div class="col-md-9">
																		<input type="text" class="form-control">
																		<span class="fa fa-times form-control-feedback"></span>
																	</div>
																</div>
																<div class="form-group">
																	<label class="col-md-3 control-label">Submit</label>
																	<div class="col-md-9">
																		<button type="submit" class="btn btn-sm btn-success">Submit Button</button>
																	</div>
																</div>
															</form>


                                                        </div>
                                                        <div class="modal-footer">
                                                            <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
                                                            <a href="javascript:;" class="btn btn-sm btn-success">Action</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


        </div>
        <!-- end #content -->

        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->
{% endblock %}
