{% extends 'base.html' %}

{% block title %}CyclopsVFX | Polyphemus{% endblock %}

{% block content %}
<div class="col-md-18">
<div class="row">

<h1 class="page-header">{{asset_details.name}}</h1> <!-- begin page-header -->

  <div class="col-md-6">
    <div class="card-block">Asset preview:</div>
    <div id="View" class="previewer {{ asset_details.type }} ">
      <iframe src="/{{ asset_details.type }}/{{ asset_details._id }}" class="preview-assets responsive" id="viewer" frameborder="0" scrolling="no" width="100%" height="500px">

        </iframe>    </div>
    <div class="col"><!-- start post -->
      <div class="well">
         <form class="form-horizontal" role="form">
           <div class="form-group" style="padding:14px;">
            <textarea class="form-control" placeholder="Put your comment here..."></textarea>
          </div>
          <button class="btn btn-primary pull-right" type="button">Post</button><ul class="list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
        </form>
      </div>
    </div><!-- end post -->
  </div>
  <div class="col-md-4">
      <div class="responsive">
        <table class="table table-asset-details">
            <tbody>
              <tr class="highlight">
              <div class="card-block"><h5>Asset details:</h5></div>
              </tr>
              <tr class="field">
                  <td class="field">Asset name:</td>
                  <td>{{asset_details.name}}</td>
              </tr>
              <tr class="field">
                  <td class="field">Assignee:</td>
                  <td><a href="{{url_for('user', user_name=asset_details.tasks.0.assignee)}}">{{ asset_details.tasks.0.assignee }}</a>
                  </td>
              </tr>
              <tr class="field">
                  <td class="field">Parent show:</td>
                  <td><a href="{{url_for('show', show=asset_details.show)}}">{{asset_details.show}}</a></td>
              </tr>
              {% if asset_details.hero %}
              <tr class="field">
                  <td class="field">Hero asset:</td>
                  <td>{{asset_details.hero}}</td>
              </tr>
             {% else %}
             {% endif %}
              <tr class="field">
                  <td class="field">Asset type:</td>
                  <td>{{asset_details.type}}</td>
              </tr>
              <tr class="divider">
              </tr>
              <tr class="field">
                  <td class="field">Asset status:</td>
                  <td>    <span class="label {{asset_details.tasks.0.status}}" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{asset_details.tasks.0.assignee}} - {{asset_details.tasks.0.status}}">
                  {{asset_details.tasks.0.task}}</span>
                </br>
              </br> {{overall_progress}}</td>
              </tr>
              <tr class="field">
                {% if asset_details.target_date != None %}
                {% set asset_target_date = utils.convert_isotime_to_datetime(asset_details.target_date) %}
                {% set pretty_target_date = asset_target_date.strftime(format) %}
                {% else %}
                {% set asset_target_date = None %}
                {% endif %}
                {% if asset_target_date != None %}
                <td class="field">Target date:</td>
                <td><time class="pubdate" datetime="{{asset_details.target_date}}" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{pretty_target_date}}"></time>
                </td>
                {% endif %}
              </tr>
              <tr class="field">
                  <td class="field">Path:</td>
                  <td><a href="{{ pathtofile }}">Copy to clipboard</a></td>
              </tr>              
              
              <tr class="field">
                  <td class="field">Asset versions
                  </td>
                  <td>
                  <div class="group">

                        <div class="col-md-2">
                            <select style="width: auto;" name="task-select" class="form-control" id="asset-task">
                                <option>Choose...</option>
                                {% for version in filevers  %}
                                <option>{{version}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    </td>
              </tr>
              
              <tr class="field">
                  <td class="field">Downloads:</td>
                  <td>
                  Download Asset Bundle: <a href="{{ pathtofile }}{{asset_bundle}}">{{asset_bundle}}</a>
                  </td>
              </tr>

              <tr class="highlight">
                  <td class="field">In Library:</td>
                  <td>
                    {% for lib in libs %}
                      <a href="{{url_for('libraries_view', lib_name=lib)}}">{{ lib }}</a>
                    {% endfor %}
              <br>
              
                  </td>
              </tr>
               <tr class="highlight">
                  <td class="field">Tags:</td>
                  <td>
                    {% for tag in tagz %}
                      {{ tag }}
                    {% endfor %}
                  </td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  <div class="col-md-2">
      <div class="card-reference">References:</div>
      <div class="card-asset-img">
          <img src="/static/polyphemus/assets/img/cyc_placeholder.png" class="img-responsive" alt="{{asset_details.name}}">
        </div>
        <div class="card-asset-img">
            <img src="/static/polyphemus/assets/img/small_NYC.jpg" class="img-responsive" alt="{{asset_details.name}}">
          </div>
          <div class="card-asset-img">
              <img src="/static/polyphemus/assets/img/cyc_placeholder.png" class="img-responsive" alt="{{asset_details.name}}">
            </div>
      </div>


    </br>
</div>
</div>
{% endblock %}
