{% extends 'base.html' %}
{% block title %}Asset library{% endblock %}
{% block content %}
<h1 class="page-header">Asset Library</h1> <!-- begin page-header -->


<div class="col-md-12">


            {% for asset in assets %}
            <div class="card col-md-2">
              <div class="previewer">
                <img src="/static/polyphemus/assets/img/cyc_placeholder.png" class="img-rounded" alt="{{asset.name}}" width="100%" height="auto">
              </div>
              <div class="card-block">
                <a href="/asset/{{asset._id}}"><h5 class="title">{{asset.name}}</h5></a>
                <div class="desc">
                  <p>
                    <small>
                    Type: {{asset.type}} | Show: {{asset.show}}
                    {% if asset.hero %}
                     | Hero asset
                    {% else %}
                    {% endif %}
                    </small>
                  </p>
                  <small>{{tagz}}</small>

                </div>
              </div>
            </br>
            </div>
            {% endfor %}

</div>


{% endblock %}
