{% extends 'base.html' %}

{% block title %}CyclopsVFX | Polyphemus{% endblock %}

{% block content %}

<h1 class="page-header">{{asset_details.name}}</h1> <!-- begin page-header -->

  <div class="col-md-6">
    <div class="card-block">Asset preview:</div>
    <div class="previewer">
      <img src="/static/polyphemus/assets/img/cyc_placeholder.png" class="img-responsive" alt="{{asset_details.name}}" width="100%" height="auto">
    </div>
    <div class="col"><!-- start post -->
      <div class="well">
         <form class="form-horizontal" role="form">
           <div class="form-group" style="padding:14px;">
            <textarea class="form-control" placeholder="Put your comment here..."></textarea>
          </div>
          <button class="btn btn-primary pull-right" type="button">Post</button><ul class="list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
        </form>
      </div>
    </div><!-- end post -->
  </div>
  <div class="col-md-3">
      <div class="table-responsive">
        <table class="table table-profile">
            <tbody>
              <tr class="highlight">
            <div class="card-block">Asset details:</div>
              </tr>
              <tr class="highlight">
                  <td class="field">Asset name:</td>
                  <td>{{asset_details.name}}</td>
              </tr>
              <tr class="highlight">
                  <td class="field">Parent show:</td>
                  <td><a href="{{url_for('show', show=asset_details.show)}}">{{asset_details.show}}</a></td>
              </tr>
              {% if asset_details.hero %}
              <tr class="highlight">
                  <td class="field">Hero asset:</td>
                  <td>{{asset_details.hero}}</td>
              </tr>
             {% else %}
             {% endif %}
              <tr class="highlight">
                  <td class="field">Asset type:</td>
                  <td>{{asset_details.type}}</td>
              </tr>
              <tr class="divider">
              </tr>
              <tr class="highlight">
                  <td class="field">Assignee:</td>
                  <td><a href="{{url_for('user', user_name=asset_details.tasks.0.assignee)}}">{{asset_details.tasks.0.assignee}}</a></td>
              </tr>
              <tr class="highlight">
                  <td class="field">Asset status:</td>
                  <td>    <span class="label {{asset_details.tasks.0.status}}" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{asset_details.tasks.0.assignee}} - {{asset_details.tasks.0.status}}">
                  {{asset_details.tasks.0.task}}</span> | {{asset_details.tasks.0.status}}
                </br>
              </br> {{overall_progress}}</td>
              </tr>
              <tr class="highlight">
                {% if asset_details.target_date != None %}
                {% set asset_target_date = utils.convert_isotime_to_datetime(asset_details.target_date) %}
                {% set pretty_target_date = asset_target_date.strftime(format) %}
                {% else %}
                {% set asset_target_date = None %}
                {% endif %}
                {% if asset_target_date != None %}
                <td class="field">Target date:</td>
                <td><time class="pubdate" datetime="{{asset_details.target_date}}" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{pretty_target_date}}"></time>
                </td>
                {% endif %}
              </tr>
              <tr class="highlight">
                  <td class="field">Origin software:</td>
                  <td>Maya</td>
              </tr>
              <tr class="highlight">
                  <td class="field">Tags:</td>
                  <td>
                    {% for tag in tagz %}
                      {{ tag }}
                    {% endfor %}
                  </td>
              </tr>
              <tr class="highlight">
                  <td class="field">File revisions:</td>
                  <td>
                    <a href="#">version 1</a></br>
                    <a href="#">version 2</a></br>
                    <a href="#">version 3</a></br>
                  </td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  <div class="col-md-2">
      <div class="card-reference">References:</div>
      <div class="card-asset-img">
          <img src="/static/polyphemus/assets/img/cyc_placeholder.png" class="img-responsive" alt="{{asset_details.name}}">
        </div>
        <div class="card-asset-img">
            <img src="/static/polyphemus/assets/img/small_NYC.jpg" class="img-responsive" alt="{{asset_details.name}}">
          </div>
          <div class="card-asset-img">
              <img src="/static/polyphemus/assets/img/cyc_placeholder.png" class="img-responsive" alt="{{asset_details.name}}">
            </div>
      </div>


    </br>

{% endblock %}
