{% extends 'base.html' %}
{% block title %}Asset library{% endblock %}
{% block content %}
<h1 class="page-header">Asset Library</h1> <!-- begin page-header -->
<div class="container-fluid">
  <div class="row">
<div class="col col-lg-2">

{{side_lib}}
  <div class="list-group">
    {% for asset in assets %}
    <button onClick='document.getElementById("viewer").src="/{{asset.type}}/{{asset._id}}";'type="button" class="list-group-item">{{asset.name}}</button>
    {% endfor %}
  </div>
</div>

<div class="col col-lg-9">
    <iframe src="" class="preview-assets responsive" id="viewer" frameborder="0" scrolling="no" width="100%" height="500px">

      </iframe>
</div>
</br>
</br>
<div class="col">
            {% for asset in assets %}
            <div class="card col-md-3">
              <div class="previewer">
                <img src="/static/polyphemus/assets/img/cyc_placeholder.png" class="img-responsive" alt="{{asset.name}}" width="100%" height="auto">
              </div>
              <div class="card-block">
                <a href="/asset/{{asset._id}}"><h5 class="title">{{asset.name}}</h5></a>
                <div class="desc">
                  <p>
                    <small>
                    Type: {{asset.type}} | Show: {{asset.show}}
                    {% if asset.hero %}
                     | Hero asset
                    {% else %}
                    {% endif %}
                    </small>
                  </p>

                  <small> {{ asset.name }} {% for tag in tagz %} {{ tag }}
                  {% endfor %}</small>
                </div>

              </div>
            </br>
            </div>
            {% endfor %}
  </div>
</div>
</div>

{% endblock %}
