    <div class="col-md-8 ui-sortable"> <!-- begin panel -->
        <div class="panel panel-inverse" data-sortable-id="table-basic-4">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">Latest Dailies Submissions</h4>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Shot</th>
                            <th>Submitted By</th>
                            <th>Task</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sub in subs %}
                        {% for shot in shots %}
                        {% if shot.name == sub.Shot %}
                        {% for task in shot.tasks %}
                        {% for x in task %}
                        {% if user_session.name in task[x] %}
                        <tr>
                            <td><a href="rvlink:// {{sub.Path}}"><img src={{sub.thumbnail_s3}} class="thumb-sub" alt=""></a></td>
                            <td><strong><a href="">{{sub.Shot}}</a></strong></td>
                            <td>{{sub.Username}} </td>
                            <td><a href="javascript:;" id="add-sticky" class="label label-primary">{{sub.Task}}</a></td>
                            <td><div class="date-sub"><small><time class="pubdate" datetime="{{sub.Date}}" pubdate></time></small></div></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div> <!-- end panel -->
    </div> <!-- end the dailies submissions column -->
