<label class="control-label col-md-3">
    Target Date</label>
<div class="col-md-9">
    <div class="input-group date" id="datetimepicker">
        <input class="form-control" id="date-create-asset" name="date-create-asset" placeholder="MM/DD/YYYY" type="text" style="z-index:1151 !important" />
        <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
</div>
<!-- Extra JavaScript/CSS added manually in "Settings" tab -->
<!-- Include jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- Include Date Range Picker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
<script>
$(document).ready(function() {
    var date_input = $('input[name="date-create-asset"]'); //our date input has the name "date"
    var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
    date_input.datepicker({
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
    })
})
</script>
