<div id="header" class="header navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid"> <!-- begin container-fluid -->
        <!-- begin mobile sidebar expand / collapse button -->
        <div class="navbar-header">
            <a href="{{url_for('polyphemus')}}" class="navbar-brand"><span class="navbar-logo"></span> Polyphemus</a>
            <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <button type="button" class="navbar-toggle p-0 m-r-5" data-toggle="collapse" data-target="#top-navbar">
                <span class="fa-stack fa-lg text-inverse">
                    <i class="fa fa-square-o fa-stack-2x m-t-2"></i>
                    <i class="fa fa-cog fa-stack-1x"></i>
                </span>
            </button>
        </div>
        <!-- end mobile sidebar expand / collapse button -->
            {% if user_session.role == "admin" %}
                {% if adminMode %}
                <!-- begin navbar-collapse -->
                <div class="collapse navbar-collapse pull-left" id="top-navbar">
                    <a href="#modal-dialog" class="btn btn-primary m-r-5" style="margin-top: 9px;" data-toggle="modal">Create</a>
                </div>
                <!-- end navbar-collapse -->

                <div class="modal fade" id="modal-dialog" style="display: none;">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                            <h4 class="modal-title">Modal Dialog</h4>
                                                        </div>
                                                        <div class="modal-body">


                                                            <form class="form-horizontal">
                                                                                            <div class="form-group">
                                                                                                <label class="col-md-3 control-label">Default Input</label>
                                                                                                <div class="col-md-9">
                                                                                                    <input type="text" class="form-control" placeholder="Default input">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="col-md-3 control-label">Disabled Input</label>
                                                                                                <div class="col-md-9">
                                                                                                    <input type="text" class="form-control" placeholder="Disabled input" disabled="">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="col-md-3 control-label">Select</label>
                                                                                                <div class="col-md-9">
                                                                                                    <select class="form-control">
                                                                                                        <option>1</option>
                                                                                                        <option>2</option>
                                                                                                        <option>3</option>
                                                                                                        <option>4</option>
                                                                                                        <option>5</option>
                                                                                                    </select>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="col-md-3 control-label">Select (multiple)</label>
                                                                                                <div class="col-md-9">
                                                                                                    <select multiple="" class="form-control">
                                                                                                        <option>1</option>
                                                                                                        <option>2</option>
                                                                                                        <option>3</option>
                                                                                                        <option>4</option>
                                                                                                        <option>5</option>
                                                                                                    </select>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="col-md-3 control-label">Textarea</label>
                                                                                                <div class="col-md-9">
                                                                                                    <textarea class="form-control" placeholder="Textarea" rows="5"></textarea>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="col-md-3 control-label">Checkbox</label>
                                                                                                <div class="col-md-9">
                                                                                                    <div class="checkbox">
                                                                                                        <label>
                                                                                                            <input type="checkbox" value="">
                                                                                                            Checkbox Label 1
                                                                                                        </label>
                                                                                                    </div>
                                                                                                    <div class="checkbox">
                                                                                                        <label>
                                                                                                            <input type="checkbox" value="">
                                                                                                            Checkbox Label 2
                                                                                                        </label>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="col-md-3 control-label">Inline Checkbox</label>
                                                                                                <div class="col-md-9">
                                                                                                    <label class="checkbox-inline">
                                                                                                        <input type="checkbox" value="">
                                                                                                        Checkbox Label 1
                                                                                                    </label>
                                                                                                    <label class="checkbox-inline">
                                                                                                        <input type="checkbox" value="">
                                                                                                        Checkbox Label 2
                                                                                                    </label>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="col-md-3 control-label">Radio Button</label>
                                                                                                <div class="col-md-9">
                                                                                                    <div class="radio">
                                                                                                        <label>
                                                                                                            <input type="radio" name="optionsRadios" value="option1" checked="">
                                                                                                            Radio option 1
                                                                                                        </label>
                                                                                                    </div>
                                                                                                    <div class="radio">
                                                                                                        <label>
                                                                                                            <input type="radio" name="optionsRadios" value="option2">
                                                                                                            Radio option 2
                                                                                                        </label>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="col-md-3 control-label">Inline Radio Button</label>
                                                                                                <div class="col-md-9">
                                                                                                    <label class="radio-inline">
                                                                                                        <input type="radio" name="optionsRadios" value="option1" checked="">
                                                                                                        Radio option 1
                                                                                                    </label>
                                                                                                    <label class="radio-inline">
                                                                                                        <input type="radio" name="optionsRadios" value="option2">
                                                                                                        Radio option 2
                                                                                                    </label>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group has-success has-feedback">
                                                                                                <label class="col-md-3 control-label">Input with Success</label>
                                                                                                <div class="col-md-9">
                                                                                                    <input type="text" class="form-control">
                                                                                                    <span class="fa fa-check form-control-feedback"></span>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group has-warning has-feedback">
                                                                                                <label class="col-md-3 control-label">Input with Warning</label>
                                                                                                <div class="col-md-9">
                                                                                                    <input type="text" class="form-control">
                                                                                                    <span class="fa fa-warning form-control-feedback"></span>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group has-error has-feedback">
                                                                                                <label class="col-md-3 control-label">Input with Error</label>
                                                                                                <div class="col-md-9">
                                                                                                    <input type="text" class="form-control">
                                                                                                    <span class="fa fa-times form-control-feedback"></span>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="col-md-3 control-label">Submit</label>
                                                                                                <div class="col-md-9">
                                                                                                    <button type="submit" class="btn btn-sm btn-success">Submit Button</button>
                                                                                                </div>
                                                                                            </div>
                                                                                        </form>


                                                        </div>
                                                        <div class="modal-footer">
                                                            <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
                                                            <a href="javascript:;" class="btn btn-sm btn-success">Action</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                {% endif %}
                {% endif %}
        <!-- begin header navigation right -->
        <ul class="nav navbar-nav navbar-right">
            <li>
                <form class="navbar-form full-width">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter keyword" />
                        <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </li>
            <li class="dropdown">

                {% if user_session.notifications > 0 %}
                <a href="#"  data-toggle="dropdown" class="dropdown-toggle f-s-14">
                    <i class="fa fa-bell-o notifications" id="mark_read"></i>
                    {% set str_notifications = user_session.notifications|int %}
                    <span class="label remove">{{str_notifications}}</span>
                </a>
                <ul class="dropdown-menu media-list pull-right animated fadeInDown">
                    <li class="dropdown-header notification-string">Notifications ({{str_notifications}})</li>
                {% else %}

                <a href="#"  data-toggle="dropdown" class="dropdown-toggle f-s-14">
                    <i class="fa fa-bell-o"></i>
                </a>
                <ul class="dropdown-menu media-list pull-right animated fadeInDown">
                    <li class="dropdown-header">No New Notifications</li>

                {% endif %}

                    {% for notification in user_session.notifications_msg %}
                    {% for noti in notifications %}
                    {% if noti._id == notification %}
                    <li class="media">
                        {% for sub in subs %}
                        {% if noti.ptuid == sub.ptuid %}
                        <a href="{{url_for('shot', show=sub.Show, seq=sub.seq, shot_name=sub.Shot, _anchor=sub.ptuid)}}">
                        {% endif %}
                        {% endfor %}
                            <div class="media-left"><img src="{{ noti.publisher.email | gravatar }}" class="media-object" alt="" /></div>
                            <div class="media-body">
                                <h6 class="media-heading">{{noti.publisher.name}}</h6>
                                {% if noti.type == "dailies" %}
                                <p>Dailies Submission<br><strong>{{noti.shot}}</strong><br><small>{{noti.ptuid}}</small></p>
                                {% elif noti.type == "publish" %}
                                <p>item Published - <small>{{noti.ptuid}}</small><br><strong>{{noti.shot}}</strong></p>
                                {% else %}
                                <p>You've got a new message!</p>
                                {% endif %}
                                <div class="text-muted f-s-11"><time class="pubdate" datetime="{{noti.date}}"></time></div>
                            </div>
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    <li class="dropdown-footer text-center">
                        <a href="#"><small>View more</small></a>
                    </li>
                </ul>
            </li>
            {% if user_session %}
            <li class="dropdown navbar-user">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="{{ user_session.email | gravatar }}" alt="" />
                    <span class="hidden-xs">{{user_session.name}}</span> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu animated fadeInLeft">
                    <li class="arrow"></li>
                    {% if user_session.role == "admin" %}
                    <li><a href="{{url_for('admin')}}">Admin Dashboard</a></li>
                    <li class="divider"></li>
                    {% endif %}
                    <li><a href="#">Edit Profile</a></li>
                    <li><a href="#"><span class="badge badge-danger pull-right">2</span> Inbox</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:;">Log Out</a></li>
                </ul>
            </li>
            {% endif %}
        </ul> <!-- end header navigation right -->
    </div> <!-- end container-fluid -->
</div> <!-- end #header -->
