{% extends 'base.html' %}
{% block title %}RBY | {{seq.name}}{% endblock %}
{% block content %}



<div class="container">
<div class="row">
        {% for shot in shots %}
        {% for sub in subs %}
        {% if sub.Shot == shot.name %}
        {% set latest_submission = sub.ptuid %}
<div class="col-md-3">

        <div class="shot">
            <div class="cover-photo-seq">
            </div>
            <div class="image-info">
                <h5 class="title"><a href="#"><strong>{{shot.name}}</strong></a></h5>
                    <div class="pull-right">
                        Latest submission:   <small><a href="#"><strong>{{latest_submission}}</strong></a></small>
                    </div>
                <br/>
                <br/>
                {% for task in shot.tasks %}
                <div><span class="label label-warning">{{task.task}}</span></div>
                {% endfor %}
                <br/>
                <div class="desc">
                    <p><small>Latest comment:</small></p>
                <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <small><a href="">Someone famous</a></small>
                </blockquote>
                </div>
            </div>
        </div>
    </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
    
</div>




{% endblock %}