{% extends 'base.html' %}
{% block title %}{{show}} | {{seq.name}}{% endblock %}
{% block content %}



<div class="col-md-12">
    <div class="row">
            {% for shot in shots %}
    <div class="col-md-4">

            <div class="shot">
            {% set s3_obj = shot.name + "_thumb.jpg" %}
            {% set full_path_img = url_for('static', filename="polyphemus/assets/img/banners/%s" % s3_obj) %}
            {% set check_local = aws_s3.check_local(s3_obj) %}
            {% if check_local %}
                <div class="cover-photo-seq" style="background:url('{{full_path_img}}'); background-color: #435e9c; background-repeat: no-repeat; background-position: center; background-size: cover; color:white; height:150px;">
                </div>
            {% else %}
                <div class="cover-photo-seq" style="background:url('{{url_for('static', filename='polyphemus/assets/img/cyc_placeholder.png')}}'); background-color: #435e9c; background-repeat: no-repeat; background-position: center; background-size: cover; color:white; height:150px;">
                </div>
            {% endif %}
                <div class="image-info">
                    <h5 class="title"><a href="{{url_for('shot',show=show, seq=seq.name, shot_name=shot.name)}}"><strong>{{shot.name}}</strong></a></h5>
                        <div class="pull-right">
                            {% for sub in subs %}
                            {% if sub.ptuid == shot.latest_ptuid %}
                            Latest submission:   <small><a href="rvlink:// {{sub.Path}}"><strong>{{sub.ptuid}}</strong></a></small>
                            {% endif %}
                            {% endfor %}
                        </div>
                    <br/>
                    <br/>
                    <div>
                    {% for task in shot.tasks %}
                     <span class="label {{task.status}}" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{task.status}}">{{task.task}}</span>&nbsp;
                    {% endfor %}
                    </div>
                    <br/>
                    <div class="desc">
                        <p><small>Latest comment:</small></p>
                    <blockquote>
                    {% for sub in subs %}
                    {% if sub.ptuid == shot.latest_ptuid %}
                    {% if sub.comments != [] %}
                    {% set latest_comment = sub.comments[-1].comment %}
                        <p>{{latest_comment}}</p>
                        <small><a href="{{url_for('user', user_name=sub.comments[-1].publisher.name)}}">{{sub.comments[-1].publisher.name}}</a></small>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    </blockquote>
                    </div>
                </div>
            </div>
        </div>
            {% endfor %}
        </div>
</div>





{% endblock %}
