{% extends 'base.html' %}

{% block title %}RBY | MANOR_010{% endblock %}

{% block content %}
    <!-- Timeline content -->
    <div class="col-md-10 col-sm-10 timeline-container col-md-offset-1 animated fadeIn">
      <!-- Cover content -->
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="cover-photo">

            <div class="cover-name">{{shot.name}}</div>
          </div>
        </div>
        <div class="col-md-12  col-sm-12 col-xs-12">
          <div class="panel-options">
            <div class="navbar navbar-default navbar-cover">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#profile-opts-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>

                <div class="collapse navbar-collapse" id="profile-opts-navbar">
                  <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#"></i> All</a></li>
                    <li><a href="#"><i class="fa fa-pencil"></i> Notes</a></li>
                    <li><a href="#"><i class="fa fa-film"></i> Dailies</a></li>
                    <li><a href="#"><i class="fa fa-send-o"></i> Publishes</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
                        <i class="fa fa-user"></i> Collaborators <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                        {% for collaborator in collaborators %}
                        {% for user in users %}
                        {% if user.name == collaborator.assignee %}
                        <li class="media">
                            <a href="javascript:;">
                                <div class="media-left"><img src="{{user.email | gravatar}}" class="collaborator" alt="" /></div>
                                <div class="media-body">
                                    <h6 class="media-heading">{{user.name}} - <small><strong>{{user.task}}</strong></small></h6>
                                </div>
                                <div class="media-right">
                                {% if collaborator.status == 'NOT_STARTED' %}
                                <i class="fa fa-circle not-started"></i>
                                {% elif collaborator.status == 'IN_PROGRESS' %}
                                <i class="fa fa-circle in-progress"></i>
                                {% else %}
                                <i class="fa fa-circle completed"></i>
                                {% endif %}
                                </div>
                            </a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                        </ul>
                    </li>

                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
                        <i class="fa fa-user"></i> Assets <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                        {% for asset in assets %}
                        <li class="media">
                            <a href="javascript:;">
                                <div class="media-body">
                                    <h6 class="media-heading">{{asset.name}}</h6>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                        </ul>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- user detail -->
      <div class="row">
          <div class="col-md-12">
              <ol class="breadcrumb pull-left user-detail">
                  <li><a href="#">RBY</a></li>
                  <li><a href="#">MANOR</a></li>
                  <li><a href="#">MANOR_010</a></li>

              </ol>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12 user-detail">
          <!-- left details -->

          <!-- update status -->
          <div class="col-md-12 col-sm-12 col-xs-12 col-posts">
            <div class="col-md-12">

              <div class="well">
                 <form class="form-horizontal" role="form">
                   <div class="form-group" style="padding:14px;">
                    <textarea class="form-control" placeholder="Put your comment here..."></textarea>
                  </div>
                  <button class="btn btn-primary pull-right" type="button">Post</button><ul class="list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
                </form>
              </div>
            </div>

            <div class="col-md-12"> <!-- post -->
                {% for sub in subs %}
                {% set datetime_sub_date = utils.convert_isotime_to_datetime(sub.Date) %}
                {% set pretty_sub_date = datetime_sub_date.strftime(format) %}
                {% for user in users %}
                {% if user.name == sub.Username %}
                {% if sub.Shot == shot.name %}
              <div class="panel panel-white post panel-shadow {{sub._id}}" id="{{sub.type}}">
                  <div class="post-heading">
                      <div class="pull-left image">
                          <img src="{{user.email | gravatar}}" class="img-rounded avatar" alt="user profile image">
                      </div>
                      <div class="pull-left meta">
                          {% if sub.type == "dailies" %}
                          <div class="title h5" >
                              <a href="#" class="post-user-name">{{user.name}}</a>
                              Submitted <strong><a href="#">CMP-098567</a></strong> for dailies. <a href="#"><span class="task-status label-task-status label-task-status-warning ">{{sub.status}}</span></a>
                          </div>
                          {% elif sub.type == "publish" %}
                          <div class="title h5" >
                              <a href="#" class="post-user-name">{{user.name}}</a>
                              New item published for <strong><a href="#">{{sub.AssetName}}</a></strong> <a href="#"><span class="task-status label-task-status label-task-status-warning ">{{sub.status}}</span></a>
                          </div>
                          {% else %}
                          <div class="title h5" >
                              <a href="#" class="post-user-name">{{user.name}}</a>
                              Posted a new note.
                          </div>
                          {% endif %}
                          <h6 class="text-muted time"><div class="date-sub"><a href=""><time class="pubdate" datetime="{{sub.Date}}" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{pretty_sub_date}}"></time></a></div></h6>
                      </div>
                  </div>

                  <div class="post-image">
                      <a href="rvlink:// {{sub.Path}}"><img src="{{sub.thumbnail_s3}}" class="image show-in-modal" alt="image post"></a>
                  </div>
                  <div class="post-description">
                      <p>{{sub.comment}}</p>
                  </div>
                  <div class="post-footer">
                      <div class="input-group">
                          <input class="form-control" placeholder="Add a comment" type="text">
                          <span class="input-group-addon">
                              <a href="#"><i class="fa fa-edit"></i></a>
                          </span>
                      </div>
                      <ul class="comments-list">
                          {% for comment in sub.comments %}
                          {% set datetime_sub_date = utils.convert_isotime_to_datetime(comment.date) %}
                          {% set pretty_comment_date = datetime_sub_date.strftime(format) %}
                          <li class="comment">
                              <a class="pull-left" href="#">
                                  <img class="avatar" src="{{comment.publisher.email | gravatar}}" alt="avatar">
                              </a>
                              <div class="comment-body">
                                  <div class="comment-heading">
                                      <h4 class="comment-user-name"><a href="#">{{comment.publisher.name}}</a></h4>
                                      <h5 class="time"><div class="date-sub"><a href=""><time class="pubdate" datetime="{{comment.date}}" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{pretty_comment_date}}"></time></a></div></h5>
                                  </div>
                                  <p>{{comment.comment}}</p>
                              </div>
                          </li>
                          {% endfor %}
                      </ul>
                  </div>
              </div>
              {% endif %}
              {% endif %}
              {% endfor %}
              {% endfor %}
            </div><!-- end post -->

          </div>
        </div>
      </div><!-- end user details -->
    </div><!-- end timeline content-->
{% endblock %}
