<div class="modal fade" id="modal-shot-modify-{{shot.name}}" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">{{shot.name}}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Status</label>
                        <div class="col-md-9">
                            <select class="form-control">
                                {% for statuses in utilz %}
                                {% for status in statuses.valid_statuses %}
                                <option>{{status}}</option>
                                {% endfor %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Add Task</label>
                        <div class="col-md-3">
                            <select class="form-control" id="shot-task">
                                <option>Choose...</option>
                                {% for statuses in utilz %}
                                {% for shot_task in statuses.shot_tasks %}
                                <option>{{shot_task}}</option>
                                {% endfor %}
                                {% endfor %}
                            </select>
                        </div>
                        <label class="col-md-3 control-label">Add Assignee</label>
                        <div class="col-md-3">
                            <select class="form-control" id="user-dropdown-shot">
                                <option>Choose...</option>
                                {% for user in users %}
                                <option>{{user.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"> </label>
                        <div class="col-md-9">
                            <button type="submit" class="btn btn-sm btn-success">Submit Button</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
                                            </div>