{% extends 'base.html' %}

{% block title %}{{show.name}}{% endblock %}

{% block content %}


<div class="jumbotron jumbotron-fluid show-banner" style="background-image: url({{ci.banner("MANOR_010")}}); background-color: #17234E; margin-bottom: 0; min-height: 75%; background-repeat: no-repeat; background-position: center; -webkit-background-size: cover; background-size: cover; min-height: 300px;">
  <div class="container">
    <h1 class="display-3" style="color:white;">{{show}}</h1>
  </div>
</div>

<div class="row main-show-info">
    <div class="col-md-8  col-sm-8 col-xs-8">
        This is where you put the description of the show, with some useful names, dates and contact details about the show. Maybe some links too: imdb etc...<br>
        <ul>
            <li><a href="#">imdb</a></li>
            <li><a href="#">link to director's imdb</a></li>
        </ul>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: right;">
        {{show}} Useful emails :
        <ul>
            <li>Admin: <a href="#">Geoffroy Givry</a></li>
            <li>VFX Sup: <a href="#">Aleks katunar</a></li>
            <li>Executive Producer: <a href="#">Someone important</a></li>
            <li>CG Sup: <a href="#"> Geoff</a></li>
            <li>Comp Sup:<a href="#">Aleks</a></li>
        </ul>
    </div>
</div>

<div class="row" style="margin: 10px;">

<div class="col-md-5 col-sm-5 col-xs-5">
    <div class="well">
                 <form class="form-horizontal" role="form">
                   <div class="form-group" style="padding:14px;">
                    <textarea class="form-control" placeholder="Put your comment here..."></textarea>
                  </div>
                  <button class="btn btn-primary pull-right" type="button">Post</button><ul class="list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
                </form>
              </div>

                {% for sub in subs %}
                {% set datetime_sub_date = utils.convert_isotime_to_datetime(sub.Date) %}
                {% set pretty_sub_date = datetime_sub_date.strftime(format) %}
                {% for user in users %}
                {% if user.name == sub.Username %}
                {% if sub.Show == show %}
              <div class="panel panel-white post panel-shadow {{sub._id}}" id="{{sub.type}}">
                  <div class="post-heading">
                      <div class="pull-left image">
                          <img src="{{user.email | gravatar}}" class="img-rounded avatar" alt="user profile image">
                      </div>
                      <div class="pull-left meta">
                          {% if sub.type == "dailies" %}
                          <div class="title h5" >
                              <a href="{{url_for('user', user_name=user.name)}}" class="post-user-name">{{user.name}}</a>
                              Submitted <strong><a href="#" id="{{sub.ptuid}}">{{sub.ptuid}}</a></strong> for dailies. <a href="#"><span class="task-status label-task-status label-task-status-warning ">{{sub.status}}</span></a>
                          </div>
                          {% elif sub.type == "publish" %}
                          <div class="title h5" >
                              <a href="{{url_for('user', user_name=user.name)}}" class="post-user-name">{{user.name}}</a>
                              New item published for <strong><a href="#">{{sub.AssetName}}</a></strong> - <strong><a href="#" id="{{sub.ptuid}}">{{sub.ptuid}}</a></strong> <a href="#"><span class="task-status label-task-status label-task-status-warning ">{{sub.status}}</span></a>
                          </div>
                          {% else %}
                          <div class="title h5" >
                              <a href="{{url_for('user', user_name=user.name)}}" class="post-user-name">{{user.name}}</a>
                              Posted a new note.
                          </div>
                          {% endif %}
                          <h6 class="text-muted time"><div class="date-sub"><a href=""><time class="pubdate" datetime="{{sub.Date}}" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{pretty_sub_date}}"></time></a></div></h6>
                      </div>
                  </div>

                  <div class="post-image">
                      <a href="rvlink:// {{sub.Path}}"><img src="{{sub.thumbnail_s3}}" class="image show-in-modal" alt="image post"></a>
                  </div>
                  <div class="post-description">
                      <p>{{sub.comment}}</p>
                  </div>
                  <div class="post-footer">
                      <div class="input-group">
                          <input class="form-control" placeholder="Add a comment" type="text">
                          <span class="input-group-addon">
                              <a href="#"><i class="fa fa-edit"></i></a>
                          </span>
                      </div>
                      <ul class="comments-list">
                          {% for comment in sub.comments %}
                          {% set datetime_sub_date = utils.convert_isotime_to_datetime(comment.date) %}
                          {% set pretty_comment_date = datetime_sub_date.strftime(format) %}
                          <li class="comment">
                              <a class="pull-left" href="{{url_for('user', user_name=comment.publisher.name)}}">
                                  <img class="avatar" src="{{comment.publisher.email | gravatar}}" alt="avatar">
                              </a>
                              <div class="comment-body">
                                  <div class="comment-heading">
                                      <h4 class="comment-user-name"><a href="{{url_for('user', user_name=comment.publisher.name)}}">{{comment.publisher.name}}</a></h4>
                                      <h5 class="time"><div class="date-sub"><a href=""><time class="pubdate" datetime="{{comment.date}}" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{pretty_comment_date}}"></time></a></div></h5>
                                  </div>
                                  <p>{{comment.comment}}</p>
                              </div>
                          </li>
                          {% endfor %}
                      </ul>
                  </div>
              </div>
              {% endif %}
              {% endif %}
              {% endfor %}
              {% endfor %}

    </div>

    <div class="col-md-7 col-sm-7 col-xs-7">

            <div class="panel-body2">
                <!-- begin col-6 -->
                <div>
                <h2>Sequences</h2>
                    <ul class="nav nav-pills">
                    {% for s in shows %}
                    {% if show == s.name %}
                    {% for sequence in s.sequences %}
                    <li id="{{loop.index}}"><a href="#nav-pills-tab-{{sequence.name}}-{{loop.index}}" data-toggle="tab">{{sequence.name}}</a></li>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}

                    </ul>
                    <div class="tab-content">
                    {% for s in shows %}
                    {% if show == s.name %}
                    {% for sequence in s.sequences %}
                        <div class="tab-pane fade {{loop.index}}" id="nav-pills-tab-{{sequence.name}}-{{loop.index}}">
                            <h3 class="m-t-10">Shots</h3>
                            <table id="" class="table display table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Frame Range</th>
                                        <th>tasks</th>
                                        <th>Assets</th>
                                        <th>Target date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for seq_shots in sequence.shots %}
                                    {% for shot in shots %}
                                    {% if seq_shots.name == shot.name %}
                                    {% if shot.target_date != None %}
                                    {% set shot_target_date = utils.convert_isotime_to_datetime(shot.target_date) %}
                                    {% set pretty_target_date = shot_target_date.strftime(format) %}
                                    {% else %}
                                    {% set shot_target_date = None %}
                                    {% endif %}
                                    <tr>
                                        <td><a href="{{url_for('shot', show=shot.show, seq=shot.seq, shot_name=shot.name)}}">{{shot.name}}</a></td>
                                        <td>{{shot.frame_in}} - {{shot.frame_out}}</td>
                                        <td>
                                            {% for task in shot.tasks %}
                                            <span class="label {{task.status}}" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{task.assignee}} - {{task.status}}">{{task.task}}</span>&nbsp; {% endfor %}
                                        </td>
                                        <td>
                                            {% for asset in shot.assets %}
                                            <span class="label label-default">{{asset.name}}</span>&nbsp; {% endfor %}
                                        </td>
                                        <td>
                                            {% if shot_target_date != None %}
                                            <div class="date-sub"><a href=""><small><time class="pubdate" datetime="{{shot.target_date}}" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{pretty_target_date}}"></time></small></a></div>
                                            {% endif %}
                                        </td>
                                        <td><span class="label {{shot.status}}">{{shot.status}}</span></td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}


                    </div>
                </div>
                <!-- end col-6 -->
            </div>

                        <div>
                            <h3 class="m-t-10">Assets</h3>
                            <table id="" class="table display table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Tasks</th>
                                        <th>Hero</th>
                                        <th>Target date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for asset in assets %}
                                    {% if asset.show == show %}
                                    {% if asset.target_date != None %}
                                    {% set asset_target_date = utils.convert_isotime_to_datetime(asset.target_date) %}
                                    {% set pretty_target_date = asset_target_date.strftime(format) %}
                                    {% else %}
                                    {% set asset_target_date = None %}
                                    {% endif %}
                                    <tr class="odd gradeX">
                                        <td><a href="#">{{asset.name}}</a></td>
                                        <td>{% for task in asset.tasks %}<span class="label {{task.status}}" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{task.assignee}} - {{task.status}}">{{task.task}}</span>&nbsp;{% endfor %}</td>
                                        <td>{% if asset.hero %}<span class="label label-default" >Hero asset</span>{% endif %}</td>

                                        <td>
                                            {% if asset_target_date != None %}
                                            <div class="date-sub"><a href=""><small><time class="pubdate" datetime="{{asset.target_date}}" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{pretty_target_date}}"></time></small></a></div>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>


    </div>

</div>

{% endblock %}
