<div id="sidebar" class="sidebar">
            <!-- begin sidebar scrollbar -->
            <div data-scrollbar="true" data-height="100%">
                <!-- begin sidebar user -->
                <ul class="nav">
                    <li class="nav-profile">
                        <div class="image">
                            <a href="javascript:;"><img src="{{ user_session.email | gravatar }}" alt="" /></a>
                        </div>
                        <div class="info">
                            {{user_session.name}}
                            <small>{{user_session.task}} {{user_session.role}}</small>
                        </div>
                    </li>
                </ul>
                <!-- end sidebar user -->
                <!-- begin sidebar nav -->

                <ul class="nav">
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            <i class="fa fa-align-left"></i>
                            <span>Shows</span>
                        </a>
                        <ul class="sub-menu">
                            {% for show in shows %}
                            <li class="has-sub">
                                <a href="javascript:;">
                                    <b class="caret pull-right"></b>
                                    {{show.name}}
                                </a>
                                <ul class="sub-menu">
                                    {% for sequence in show.sequences %}
                                    <li class="has-sub">
                                        <a href="javascript:;">
                                            <b class="caret pull-right"></b>
                                            {{sequence.name}}
                                        </a>
                                        <ul class="sub-menu">
                                            {% for shot in sequence.shots %}
                                            <li><a href="{{url_for('shot',show=show.name, seq=sequence.name, shot_name=shot.name)}}">{{shot.name}}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <!-- begin sidebar minify button -->
                    <li><a href="#" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
                    <!-- end sidebar minify button -->
                </ul>

                <!-- end sidebar nav -->
            </div>
            <!-- end sidebar scrollbar -->
        </div>
        <div class="sidebar-bg"></div>
        <!-- end #sidebar -->
