<div class="row"> <!-- beginning row with targets shot and accordions -->
<div class="col-md-6 ui-sortable"> <!-- begining column targets -->

        <div class="panel panel-inverse" data-sortable-id="index-8">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">Targets</h4>
            </div>

            <div class="panel-body">
                <div class="panel-group" id="accordion">

                    {% if target_shots.overdue != [] %}
                    <div class="panel panel-inverse overflow-hidden">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion" href="#collapseZero">
                                    <i class="fa fa-plus-circle pull-right"></i>
                                    Overdue
                                    {% if target_shots.overdue | length > 0 %}
                                    <span class="badge badge-danger">{{target_shots.overdue | length}}</span>
                                    {% endif %}
                                </a>
                            </h3>
                        </div>
                        <div id="collapseZero" class="panel-collapse collapse in">
                            <div class="panel-body">

                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Shot</rth>
                                            <th>Frame Range</th>
                                            <th>Status</th>
                                            <th>Target Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for shot in target_shots.overdue %}
                                        {% set datetime_target_date = utils.convert_isotime_to_datetime(shot.target_date) %}
                                        {% set pretty_target_date = datetime_target_date.strftime(format) %}
                                        <tr>
                                            {% if shot.thumbnail %}
                                            <td><a href="{{url_for('shot', show=shot.show, seq=shot.seq, shot_name=shot.name)}}"><img src="{{shot.thumbnail}}" class="thumb-sub" alt=""></a></td>
                                            {% else %}
                                            <td><a href="{{url_for('shot', show=shot.show, seq=shot.seq, shot_name=shot.name)}}"><img src="static/polyphemus/assets/img/cyc_placeholder.png" class="thumb-sub" alt=""></a></td>
                                            {% endif %}
                                            <td><strong><a href="{{url_for('shot', show=shot.show, seq=shot.seq, shot_name=shot.name)}}">{{shot.name}}</a></strong></td>
                                            <td>{{shot.frame_in}}-{{shot.frame_out}} </td>
                                            <td><a href="javascript:;" id="add-sticky" class="label label-warning">{{shot.status}}</a></td>
                                            <td><div class="date-sub"><a href=""><small><time class="pubdate" datetime="{{shot.target_date}}" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{pretty_target_date}}"></time></small></a></div></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <div class="panel panel-danger overflow-hidden">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {% if target_shots.overdue != [] %}
                                <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                {% else %}
                                <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                {% endif %}
                                    <i class="fa fa-plus-circle pull-right"></i>
                                    Today
                                    {% if target_shots.today | length > 0 %}
                                    <span class="badge badge-default">{{target_shots.today | length}}</span>
                                    {% endif %}
                                </a>
                            </h3>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                            {% if target_shots.today != [] %}
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Shot</rth>
                                            <th>Frame Range</th>
                                            <th>Status</th>
                                            <th>Target Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for shot in target_shots.today %}
                                        {% set datetime_target_date = utils.convert_isotime_to_datetime(shot.target_date) %}
                                        {% set pretty_target_date = datetime_target_date.strftime(format) %}
                                        <tr>
                                            {% if shot.thumbnail %}
                                            <td><a href="#"><img src="{{shot.thumbnail}}" class="thumb-sub" alt=""></a></td>
                                            {% else %}
                                            <td><a href="#"><img src="static/polyphemus/assets/img/cyc_placeholder.png" class="thumb-sub" alt=""></a></td>
                                            {% endif %}
                                            <td><strong><a href="">{{shot.name}}</a></strong></td>
                                            <td>{{shot.frame_in}}-{{shot.frame_out}} </td>
                                            <td><a href="javascript:;" id="add-sticky" class="label label-warning">{{shot.status}}</a></td>
                                            <td><div class="date-sub"><a href=""><small><time class="pubdate" datetime="{{shot.target_date}}" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{pretty_target_date}}"></time></small></a></div></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                No targets, you can relax!
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-warning overflow-hidden">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    <i class="fa fa-plus-circle pull-right"></i>
                                    Tomorrow
                                    {% if target_shots.tomorrow | length > 0 %}
                                    <span class="badge badge-default">{{target_shots.tomorrow | length}}</span>
                                    {% endif %}
                                </a>
                            </h3>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                            {% if target_shots.tomorrow != [] %}
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Shot</rth>
                                            <th>Frame Range</th>
                                            <th>Status</th>
                                            <th>Target Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for shot in target_shots.tomorrow %}
                                        {% set datetime_target_date = utils.convert_isotime_to_datetime(shot.target_date) %}
                                        {% set pretty_target_date = datetime_target_date.strftime(format) %}
                                        <tr>
                                            {% if shot.thumbnail %}
                                            <td><a href="#"><img src="{{shot.thumbnail}}" class="thumb-sub" alt=""></a></td>
                                            {% else %}
                                            <td><a href="#"><img src="static/polyphemus/assets/img/cyc_placeholder.png" class="thumb-sub" alt=""></a></td>
                                            {% endif %}
                                            <td><strong><a href="">{{shot.name}}</a></strong></td>
                                            <td>{{shot.frame_in}}-{{shot.frame_out}} </td>
                                            <td><a href="javascript:;" id="add-sticky" class="label label-warning">{{shot.status}}</a></td>
                                            <td><div class="date-sub"><a href=""><small><time class="pubdate" datetime="{{shot.target_date}}" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{pretty_target_date}}"></time></small></a></div></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                No targets, you can relax!
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-success overflow-hidden">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    <i class="fa fa-plus-circle pull-right"></i>
                                    This Week
                                    {% if target_shots.thisWeek | length > 0 %}
                                    <span class="badge badge-default">{{target_shots.thisWeek | length}}</span>
                                    {% endif %}
                                </a>
                            </h3>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                            {% if target_shots.thisWeek != [] %}
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Shot</rth>
                                            <th>Frame Range</th>
                                            <th>Status</th>
                                            <th>Target Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for shot in target_shots.thisWeek %}
                                        {% set datetime_target_date = utils.convert_isotime_to_datetime(shot.target_date) %}
                                        {% set pretty_target_date = datetime_target_date.strftime(format) %}
                                        <tr>
                                            {% if shot.thumbnail %}
                                            <td><a href="#"><img src="{{shot.thumbnail}}" class="thumb-sub" alt=""></a></td>
                                            {% else %}
                                            <td><a href="#"><img src="static/polyphemus/assets/img/cyc_placeholder.png" class="thumb-sub" alt=""></a></td>
                                            {% endif %}
                                            <td><strong><a href="">{{shot.name}}</a></strong></td>
                                            <td>{{shot.frame_in}}-{{shot.frame_out}} </td>
                                            <td><a href="javascript:;" id="add-sticky" class="label label-warning">{{shot.status}}</a></td>
                                            <td><div class="date-sub"><a href=""><small><time class="pubdate" datetime="{{shot.target_date}}" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{pretty_target_date}}"></time></small></a></div></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                No targets, you can relax!
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info overflow-hidden">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                    <i class="fa fa-plus-circle pull-right"></i>
                                    Next Week
                                    {% if target_shots.nextWeek | length > 0 %}
                                    <span class="badge badge-default">{{target_shots.nextWeek | length}}</span>
                                    {% endif %}
                                </a>
                            </h3>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                            {% if target_shots.nextWeek != [] %}
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Shot</rth>
                                            <th>Frame Range</th>
                                            <th>Status</th>
                                            <th>Target Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for shot in target_shots.nextWeek %}
                                        {% set datetime_target_date = utils.convert_isotime_to_datetime(shot.target_date) %}
                                        {% set pretty_target_date = datetime_target_date.strftime(format) %}
                                        <tr>
                                            {% if shot.thumbnail %}
                                            <td><a href="#"><img src="{{shot.thumbnail}}" class="thumb-sub" alt=""></a></td>
                                            {% else %}
                                            <td><a href="#"><img src="static/polyphemus/assets/img/cyc_placeholder.png" class="thumb-sub" alt=""></a></td>
                                            {% endif %}
                                            <td><strong><a href="">{{shot.name}}</a></strong></td>
                                            <td>{{shot.frame_in}}-{{shot.frame_out}} </td>
                                            <td><a href="javascript:;" id="add-sticky" class="label label-warning">{{shot.status}}</a></td>
                                            <td><div class="date-sub"><a href=""><small><time class="pubdate" datetime="{{shot.target_date}}" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{pretty_target_date}}"></time></small></a></div></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                No targets, you can relax!
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary overflow-hidden">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                    <i class="fa fa-plus-circle pull-right"></i>
                                    Later
                                    {% if target_shots.later | length > 0 %}
                                    <span class="badge badge-default">{{target_shots.later | length}}</span>
                                    {% endif %}
                                </a>
                            </h3>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="panel-body">
                            {% if target_shots.later != [] %}
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Shot</rth>
                                            <th>Frame Range</th>
                                            <th>Status</th>
                                            <th>Target Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for shot in target_shots.later %}
                                        {% set datetime_target_date = utils.convert_isotime_to_datetime(shot.target_date) %}
                                        {% set pretty_target_date = datetime_target_date.strftime(format) %}
                                        <tr>
                                            {% if shot.thumbnail %}
                                            <td><a href="#"><img src="{{shot.thumbnail}}" class="thumb-sub" alt=""></a></td>
                                            {% else %}
                                            <td><a href="#"><img src="static/polyphemus/assets/img/cyc_placeholder.png" class="thumb-sub" alt=""></a></td>
                                            {% endif %}
                                            <td><strong><a href="">{{shot.name}}</a></strong></td>
                                            <td>{{shot.frame_in}}-{{shot.frame_out}} </td>
                                            <td><a href="javascript:;" id="add-sticky" class="label label-warning">{{shot.status}}</a></td>
                                            <td><div class="date-sub"><a href=""><small><time class="pubdate" datetime="{{shot.target_date}}" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{pretty_target_date}}"></time></small></a></div></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                No targets, you can relax!
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end column targets -->
    </div> <!-- end row with targets shot and accordions -->
