<div class="row"> <!-- beginning row with targets shot and accordions -->
<div class="col-md-8 ui-sortable"> <!-- begining column targets -->

        <div class="panel panel-inverse" data-sortable-id="index-8">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">Targets</h4>
            </div>

            <div class="panel-body">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-danger overflow-hidden">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <i class="fa fa-plus-circle pull-right"></i>
                                    Today <span class="badge badge-default">1</span>
                                </a>
                            </h3>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Shot</rth>
                                            <th>Frame Range</th>
                                            <th>Status</th>
                                            <th>Target Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for shot in shots %}
                                        {% for task in shot.tasks %}
                                        {% for x in task %}
                                        {% if user_session.name in task[x] %}
                                        <tr>
                                            <td><a href="#"><img src={{shot.thumbnail}} class="thumb-sub" alt=""></a></td>
                                            <td><strong><a href="">{{shot.name}}</a></strong></td>
                                            <td>{{shot.frame_in}}-{{shot.frame_out}} </td>
                                            <td><a href="javascript:;" id="add-sticky" class="label label-warning">{{shot.status}}</a></td>
                                            <td><div class="date-sub"><small><time class="pubdate" datetime="{{shot.target_date}}" pubdate></time></small></div></td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                        {% endfor %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-warning overflow-hidden">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    <i class="fa fa-plus-circle pull-right"></i>
                                    Tomorrow <span class="badge badge-default">2</span>
                                </a>
                            </h3>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                Test
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-success overflow-hidden">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    <i class="fa fa-plus-circle pull-right"></i>
                                    This Week <span class="badge badge-default">1</span>
                                </a>
                            </h3>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                Test
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info overflow-hidden">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                    <i class="fa fa-plus-circle pull-right"></i>
                                    Next Week
                                </a>
                            </h3>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                Test
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary overflow-hidden">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                    <i class="fa fa-plus-circle pull-right"></i>
                                    Later <span class="badge badge-default">10</span>
                                </a>
                            </h3>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="panel-body">
                                Test
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end column targets -->
    </div> <!-- end row with targets shot and accordions -->
