{% extends 'base.html' %}

{% block title %}Polyphemus | {{user_session.name}}{% endblock %}

{% block content %}
        <!-- begin profile-section -->
        <div class="profile-section">
            <!-- begin profile-left -->
            <div class="profile-left">
                <!-- begin profile-image -->
                <div class="
                            ">
                    <img src="{{user_name.email | gravatar}}" />
                    <i class="fa fa-user hide"></i>
                </div>
            </div>
            <!-- end profile-left -->
            <!-- begin profile-right -->
            <div class="profile-right">
                <!-- begin profile-info -->
                <div class="profile-info">
                    <!-- begin table -->
                    <div class="table-responsive">
                        <table class="table table-profile">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        <h4>{{user_name.name}}
<a href="#modal-profile-modify-{{user_name.name}}" class="btn btn-warning btn-xs m-r-5 modify-profile" data-id="{{user_name.name}}" data-toggle="modal">Edit </a>
                                          <small>{{user_name.role}}</small></h4>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="highlight">
                                    <td class="field">Task:</td>
                                    <td><a href="mailto:{{user_name.email}}">{{user_name.task}}</a></td>
                                </tr>
                                <tr class="divider">
                                </tr>
                                <tr class="highlight">
                                    <td class="field">Email:</td>
                                    <td><a href="mailto:{{user_name.email}}">{{user_name.email}}</a>       <a href="#modal-profile-modify-{{user_name.email}}" class="btn btn-warning btn-xs m-r-5 modify-profile" data-id="{{user_name.email}}" data-toggle="modal">Edit</a>
                                    </td>
                                </tr>
                                <tr class="divider">
                                </tr>
                                <tr>
                                    <td class="field">Shows:</td>
                                    <td>
                                    {% for show in shows %}
                                    {% for user_show in user_name.shows %}
                                    {% if show._id == user_show %}
                                    <a href="{{url_for('show', show=show.name)}}">{{show.name}}</a>&nbsp;
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- end table -->
                    <div><p>Working on:</p></div>
                        <div class="panel-bodyz">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Show</th>
                                        <th>Shot or Asset</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for shot in shots %}
                                    {% for task in shot.tasks %}
                                    {% if task.assignee == user_name.name %}
                                    <tr>
                                        <td style="width : 10px;"><img src="{{ci.thumb(shot.name)}}" class="shot_thumb"></td>
                                        <td><a href="{{url_for('show', show=shot.show)}}">{{shot.show}}</a></td>
                                        <td><a href="{{url_for('shot', show=shot.show, seq=shot.seq, shot_name=shot.name)}}">{{shot.name}}</a></td>
                                        <td><span class="label {{task.status}}" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{task.status}}">{{task.task}}</span>&nbsp;</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                </div> <!-- end profile-info -->
            </div> <!-- end profile-right -->
        </div> <!-- end profile-section -->

{% endblock %}
