<div class="modal fade" id="modal-user-modify-{{user.name}}" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">{{user.name}}</h4>
            </div>
            <div class="modal-body">
                <iframe name="hiddenFrame3" width="0" height="0" border="0" style="display: none;"></iframe>
                <form class="form-horizontal" action="{{url_for('modify_user', user_name=user.name)}}" method="POST" target="hiddenFrame3">
                    <div class="form-group">
                        <label class="col-md-3 control-label"> Join show</label>
                        <div class="col-md-9">
                            <div class="checkbox">
                                <select class="form-control" name="show-name">
                                    {% for show in shows %}
                                    <option >{{show.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"> </label>
                        <div class="col-md-9">
                            <input class="btn btn-sm btn-warning" id="modifyUserBtn" name="ModifyUser" type="submit" value="Modify" onclick="$('#modal-user-modify-{{user.name}}').modal('hide')" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modal-delete-{{user.name}}" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Alert Deleting Action! </h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger m-b-0">
                    <h4><i class="fa fa-info-circle"></i> You are about to delete <strong>{{user.name}}</strong></h4>
                    <p>Are you sure? <small>You can't undo it...</small></p>
                </div>
            </div>
            <div class="modal-footer">
                <iframe name="hiddenFrame4" width="0" height="0" border="0" style="display: none;"></iframe>
                <form action="{{ url_for('remove_user', user_name=user.name) }}" method="POST" target="hiddenFrame4">
                    <input type="hidden" name="userName" id="userNameDelete" value="{{user.name}}"/>
                <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
                    <input class="btn btn-sm btn-danger" id="deleteModalBtn" name="deleteUser" type="submit" value="Delete" onclick="$('#modal-delete-{{user.name}}').modal('hide')"/>
                </form>
            </div>
        </div>
    </div>
</div>
